{namespace threads=ZECHENDORF\Threads\ViewHelpers}
<h1>{thread.title}</h1>
<blockquote>
	<f:format.html>{thread.bodytext}</f:format.html>
	<footer>{thread.author.username}</footer>
</blockquote>
<f:for each="{thread.childThreads}" as="answer">
	<hr class="ce-div tall">
	<div class="testimonial{f:if(condition:'{threads:isHighlightThread(feUser:answer.author,highlightGroups:highlightGroups)}',then:'',else: ' testimonial-style-3')}">
		<blockquote>
			<f:format.html>{answer.bodytext}</f:format.html>
		</blockquote>
		<div class="testimonial-arrow-down"></div>
		<div class="testimonial-author">
			<f:if condition="{answer.author.usergroup.0.uid}==2">
			</f:if>
			<p>
				<strong>{answer.author.username}</strong>
				<span>{answer.author.title}</span>
			</p>
		</div>
	</div>
</f:for>
